.artwork {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
  overflow: hidden;
  cursor: pointer;
  .left,
  .right {
    width: 49%;
    align-items: center;
    display: flex;
    text-align: left;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: 100;
    margin: 0;
  }
  .right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1px 0;
    .artContent {
      position: relative;
      width: 50%;
      display:flex;
      align-items:center;
      .image {
        position: relative;
        padding: 1px 0;
        height: 100%;
        width:auto;
        display: flex;
        justify-content: flex-start;
        z-index: 2;
      }
      .videoComponent {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        .video {
          width: 100%;
          padding: 1px 0;
        }
      }
    }
    .sign {
      height: 30px;
      width: 4%;
    }
  }
}
.artwork.firstArtwork{
  border-top:1px solid white;
}
