body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homeLayout {
  height: 100%;
  margin: 0 1vw;
  padding: 0 1vw;
  border-left: 1px solid white;
  border-right: 1px solid white;
  position: relative;
  .middleLine {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    top: 2vw;
    z-index: 0;
    background-color: white;
  }
}

@media screen and (max-width: 450px) {
  .homeLayout {
    margin: 0 3vw;
    padding: 0 3vw;
    border-left: 2px solid white;
    border-right: 2px solid white;
    .middleLine {
      display:none;
    }
  }
}
