.sectionInfo {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid white;
  position: relative;
  margin-top: 100px;
  .sectionName {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: 100;
  }
}

.projectsSection {
  border: none;

  .projectsTitle {
    width: 50%;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 4vw;
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  .allProjects {
    padding-top: 20px;
  }
}
.projectsSection.secondSection {
  padding-top: 150px;
}
.firstItem.webProjectItem {
  border-top: 1px solid white;
}

.projectWrapper {
  position: relative;
  height:100%;
  &:hover .hoverImage {
    position: relative;
    z-index: 99;
    opacity: 1;
  }
  .nonHovered {
    opacity: 0;
  }
  .webProjectItem {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    position: relative;
    z-index: 1;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
    overflow: hidden;
    height:3vh;
    cursor: pointer;
    .left,
    .right {
      width: 49%;
      align-items: flex-start;
      display: flex;
      text-align: left;
      margin: 0;

      .text,
      .desc p,
      .closedDesc p,
      .techs,
      .visit {
        color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1vw;
        font-weight: 100;
        margin: 0;
        padding: 0;
      }
      .sign {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
        margin: 0;
      }
      .techs {
        padding: 40px 0 10px 0;
      }
      .visit {
        font-weight: bold;
        text-underline-offset: 2px;
        padding-right: 2%;
      }

      .projectImage {
        margin-top: 10px;
      }
    }
    .right {
      justify-content: space-between;
      .siteContent {
        width: 100%;
      }
      .desc,
      .projectImage {
        width: 90%;
        margin: 0;
        padding: 0;
      }
    }
    .left {
      justify-content: space-between;
      padding-left: 1%;
      .mobileSign {
        display: none;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .sectionInfo {
    .sectionName {
      font-size: 3vw;
      margin-bottom: 3vw;
    }
  }
  .projectsSection {
    .projectsTitle {
      font-size: 8vw;
    }
  }
  .projectWrapper {
    .webProjectItem {
      flex-flow: column;
      .left,
      .right {
        width: 100%;
        padding: 0;
        align-items: center;
        .text,
        .desc p,
        .closedDesc p,
        .techs,
        .visit {
          font-size: 4vw;
        }
        .siteContent {
          padding-top: 30px;
          .desc {
            width: 100%;
          }
        }
        .sign {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 900px) {
  .sectionInfo {
    .sectionName {
      font-size: 2vw;
      margin-bottom: 2vw;
    }
  }
  .projectWrapper {
    .webProjectItem {
      flex-flow: column;
      .left,
      .right {
        width: 100%;
        padding: 0;
        align-items: center;
        .text,
        .desc p,
        .closedDesc p,
        .techs,
        .visit {
          font-size: 13px;
        }
        .siteContent {
          padding-top: 30px;
          .desc {
            width: 100%;
          }
        }
        .sign {
          display: none;
        }
      }
    }
  }
}
